* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  height: 100vh;
  width: 100%;
  background: rgb(0,168,132);
  background: linear-gradient(0deg,  rgb(236, 229, 221) 84% ,  rgb( 18, 140, 126) 11%);
}


/*! GENERAL */

.columnContainer {
  height: 90vh;
  width: 80%;
  margin: auto;
  margin-top: 5vh;
  display: flex;
}

/*! COLONNA SINISTRA */

.leftColumn {
  width: 35%;
  height: 100%;
}

/*? COLONNA SINISTRA USER INFO*/

.userInfo {
  height: 13%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgIconContainer {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

/* .userImg{
    width: 20%;
} */

.userName {
  display: flex;
  align-items: center;
}

#myPic {
  width: 80%;
  border-radius: 50px;
}

.userIcons {
  padding: 2rem;
}

.userIcons i {
  margin-left: 5px;
}

/*? COLONNA SINISTRA DESKTOP NOTIFICATIONS*/

.desktopNotifications {
  height: 12%;
  background-color: lightskyblue;
  display: flex;
  align-items: center;
}

.noNotificationIcon {
  width: 90px;
  height: 90px;
  background-color: white;
  margin-right: 2rem;
  margin-left: 1rem;
  padding: 1rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-bell-slash {
    color: lightskyblue;
}

.notificationText p {
  font-size: 0.8rem;
  line-height: 70%;
}

.underlinedBlue {
  color: blue;
  text-decoration: underline;
}

/*? COLONNA SINISTRA SEARCH BAR*/

.searchBar {
  height: 5%;
  background-color: whitesmoke;
}

.searchIcon {
  align-items: center;
  margin-left: 2rem;
}

.searchBar {
  display: flex;
  width: 100%;
  align-items: center;
}

.searchInput input {
  width: 300px;
  margin-left: 1rem;
}

/*? COLONNA SINISTRA CONTACTS*/

.contacts {
  height: 70%;
  background-color: whitesmoke;
}

.contactCard{
    height: 90px;
    display: flex;
    align-items: center;
    background-color: white;
}

.contactIcon{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactImage {
  width: 80%;
  border-radius: 50px;
  padding: 1rem;
  
}

.contactInfo{
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

/*! COLONNA DESTRA */

.rightColumn {
  width: 65%;
  height: 100%;
}

/*? COLONNA DESTRA CHAT INFO*/

.chatInfo {
  height: 13%;
  background-color: white;
  display: flex;
  justify-content: space-between;

}

.rcInfoContainer{
    display: flex;
    align-items: center;
}

.chatImage{
    width: 100px;
    border-radius: 50px;
    padding: 0.5rem;
    margin-right: 2rem;
}

.chatIcons{
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
}

/*? COLONNA DESTRA CHAT */

.chat{
    height: 75%;
    background-image: url(./img/mine.jpg);
}

/*? COLONNA DESTRA CHAT COMMANDS*/

.chatCommands{
    display: flex;
    align-items: center;
}

.emoji{
    width: 15%;
    display: flex;
    justify-content: center;
}

.inputMessage{
    width: 70%;
    display: flex;
    justify-content: center;
}

.inputMessage input{
    width: 90%;
    height: 50px;
    margin: auto;
    border-radius: 5px;
}

.record{
    width: 15%;
    display: flex;
    justify-content: center;
}

.chatCommands {
  height: 12%;
  background-color: white;
}
